<div class="card mb-0">
    <div class="card-header">
     <h3 >
      <span> Confirmation  delete?   </span>
      <span  (click)="cancel()"   class="fa  fa-close float-right cursor "></span>
    </h3>
    </div>
  
    <div class="card-body">
      <h5>Are you sure to confirm Delete?</h5>
    </div>
  
    <div class="card-footer">
      <button type="button"  (click)="delete()"  class="btn btn-sm me-2 btn-primary float-end"><i class="fa fa-dot-circle-o"></i> Yes</button>
      <button type="reset" (click)="cancel()" class="btn btn-sm  me-2 btn-danger float-end"><i class="fa fa-ban"></i> Cancel</button>
    </div>
  </div>